div.container{
    background-color: #d3d3d3;
    border: 1px solid black;
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
}

div.caixa1{
    background-color: red;
    grid-area: 1 / 1 / span 1 / span 4;
}

div.caixa2{
    background-color: blue;
    grid-area: 2 / 1 / span 2 / span 2;
}

div.caixa3{
    background-color: green;
    grid-area: 2 / 3 / span 2 / span 2;
}